.slider {
  position: relative;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.slider-img {
  width: 1000px;
  height: 500px;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 226, 77px;
  font-size: 3rem;
  color: #d9d8d8df;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover,
.left-arrow:hover {
  color: black;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.right-arrow {
  right: 0px;
}

.left-arrow {
  left: 0px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
